.full-page {
    max-width: 1000px;
}

h1 {
    font-size: 24px;
}

.location {
    font-size: 18px;
}

.callout-box{
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    border-radius: 4px;
    /* width: 200px; */
    /* margin-top: 10px; */
}

.reserve-button{
    background-color: red;
    border-radius: 4px;
    color: white;
    width: 200px;
}

.spot-images {
    display: grid;
    grid-template-columns: 440px 220px 220px;
    grid-template-rows: 220px 220px;
    grid-template-areas:
    'preview tile-1 tile-3'
    'preview tile-2 tile-4';
    margin: auto;
    padding: 20px;
}

.tile-image-1 {
    grid-area: tile-1;

}

.tile-image-2 {
    grid-area: tile-2;

}

.tile-image-3 {
    grid-area: tile-3;

}

.tile-image-4 {
    grid-area: tile-4;

}

.preview-image {
    grid-area: preview;
    height: 420px;
    width: 420px;
    object-fit: cover;
    align-self: center;
    padding: 5px;
}

.spot-image-tiles {
    height: 200px;
    width: 200px;
    object-fit: cover;
    align-self: center;
    padding: 5px;
}
