.tiles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
    gap: 15px;
    width: 100%;
    padding: 10px 10px 30px;
}

@media (min-width:1200px) {
    .tiles-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.spot-tile {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 5px;
}

img.image {
    object-fit: cover;
    border-radius: 5%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    min-height: 300px;
    min-width: 250px;
}

.spot-details {
    font-size: 12pt;
    width: 100%;
}

.local-rating {
    display: flex;
    justify-content: space-between;
    font-size: 12pt;
    align-items: baseline;
}

.spot-rating {
    display: flex;
    justify-content: flex-end;
    margin: 14px 0 0;
    font-size: 14px;
}

.spot-price {
    display: flex-start;
    margin: 0px;
    font-size: 12pt;
}

 .price-child {
    font-weight: bold;
 }
