.tiles-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 20px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    gap: 10px;
    width: 100%;
    padding: 20px;
    margin-left: 15px;
}

.spot-id {
    text-decoration: none;
    color: black;
}

.spot-tile {
    display: flex;
    flex-direction: column;
    /* border: 1px dotted black; */
    padding: 10px;
    cursor: pointer;
    /* overflow: hidden; */
    flex-basis: 100%;
    /* width: 100% */
}

.image {
    object-fit: cover;
    /* border: 1px solid black; */
    height: 300px;
    width: 300px;
}

img.image {
    object-fit: cover;
    border: 1px solid black;
    height: 300px;
    width: 300px;
}

.spot-details {
    font-size: 12pt;
    width: 300px;
}

.local-rating {
    display: flex;
    justify-content: space-between;
    font-size: 12pt;
}

.spot-rating {
    display: flex;
    justify-content: flex-end;
}

.spot-price {
    display: flex-start;
    margin: 0px;
    font-size: 12pt;
}

 .tooltip .tooltiptext {
    visibility: hidden;
    padding: 0px;
    position: absolute;
 }

 .tooltip:hover .tooltiptext {
    visibility: hidden;
 }

 .price-child {
    font-weight: bold;
 }
