.tiles-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.spot-id {
    text-decoration: none;
    color: black;
}

.spot-tile {
    display: flex;
    flex-direction: column;
    padding: 5px;
    cursor: pointer;
}

img.image {
    object-fit: cover;
    border-radius: 5%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.spot-details {
    font-size: 12pt;
    width: 300px;
}

.local-rating {
    display: flex;
    justify-content: space-between;
    font-size: 12pt;
    align-items: baseline;

}

.spot-rating {
    display: flex;
    justify-content: flex-end;
    margin: 14px 0 0;
    font-size: 14px;
}

.spot-price {
    display: flex-start;
    margin: 0px;
    font-size: 12pt;
}

 .tooltip .tooltiptext {
    visibility: hidden;
    padding: 0px;
    position: absolute;
 }

 .tooltip:hover .tooltiptext {
    visibility: hidden;
 }

 .price-child {
    font-weight: bold;
 }
