.form-create {
    display: grid;
    justify-items: center;
    padding: 50px;
}

.organize-create {
    display: grid;
    grid-template-areas:
    'a b';
}

.city {
    grid-area: a;
    width: 150px;
}

.state {
    grid-area: b;
    width: 150px;
}

.text {
    font-weight: bold;
    margin-bottom: 0px;
}

.intro-text {
    margin-top: 0px;
}

.align-create {
    display: grid;
    justify-items: center;
}

.label-create {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 5px;
}

.label-create-small {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 5px;
}

.border-create {
    border-top: 1px solid black;
    margin: 10px;
}

.input-create {
    width: 400px;
}

.input-create-small {
    width: 200px;
}

.align-create-button {
    display: grid;
    justify-items: center;
}

.create-button {
    display: grid;
    justify-items: center;
    color:white;
    cursor: pointer;
    border-style: none;
    background: hsla(0, 100%, 77%, 1);
    background: linear-gradient(90deg, hsla(0, 100%, 77%, 1) 0%, hsla(358, 77%, 54%, 1) 0%, hsla(331, 83%, 55%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(0, 100%, 77%, 1) 0%, hsla(358, 77%, 54%, 1) 0%, hsla(331, 83%, 55%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(0, 100%, 77%, 1) 0%, hsla(358, 77%, 54%, 1) 0%, hsla(331, 83%, 55%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF8A8A", endColorstr="#E42D33", GradientType=1 );
    border-radius: 4px;
    width: 100px;
}

.create-button:hover {
    box-shadow: 2px 2px 10px 2px lightgray;
}
