.full-page {
    padding: 30px;
    width: 100%;
}

h1 {
    font-size: 24px;
    width: 100%;
}

.location {
    font-size: 18px;
    width: 100%;
}

.desc-section {
    display: grid;
    grid-template-areas:
    'a a b'
    'a a c';
    width: 100%
}

.callout-box{
    display: grid;
    width: 400px;
    grid-template-areas:
    'price rating'
    'reserve reserve';

    border: 0.1px solid lightgrey;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 50px;
}

.reserve-button{
    background-color: red;
    border-radius: 4px;
    color: white;
    grid-area: reserve;
    padding: 5px;
}

.spot-images {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
    'preview tile-1 tile-3'
    'preview tile-2 tile-4';
    width: 100%;
    padding: 5px;
}

.tile-image-1 {
    grid-area: tile-1;
    gap: 5px;
}

.tile-image-2 {
    grid-area: tile-2;
}

.tile-image-3 {
    grid-area: tile-3;
}

.tile-image-4 {
    grid-area: tile-4;
}

.preview-image {
    grid-area: preview;
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: center;
    padding: 5px;
}

.spot-image-tiles {
    width: 98%;
    height: 98%;
    object-fit: cover;
    align-self: center;
    padding: 10px;
}

.callout-box-rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: rating;
}

.numrev {
    margin-left: 5px;
}

.spot-price-detail {
    display: grid;
    grid-area: price;
    align-content: center;
}

.spot-desc {
    width: 100%;
    font-size: 14pt;
}
.review-section {
    padding: 5px;
}
