.loginform {
    display: flex;
    padding: 20px;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.user {
    justify-content: center;
    padding: 10px;
}

.password {
    justify-content: center;
    padding: 10px;
}

.login-button {
    display: flex;
    justify-content: center;
    width: 150px;
    /* padding: 10px; */
}

.group-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.size-button {
    padding: 10px;
}
