.signup-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signup-button {
    display: flex;
    justify-content: center;
    width: 150px;
}

.style-button {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.first-name {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.last-name {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.email {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.username {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.password {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.confirm {
    display: flex;
    justify-content: center;
    padding: 5px;
}
