.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 2px solid #CCCCCC;
    Height: 70px;
    /* top | right | bottom | left */
    padding: 0px 20px 0px 20px;
}

.right-align {
    margin-left: auto;
}

.space {
    flex-grow: 1;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.home-link {
    color: #FF5A5F;
    font-size: 24pt;
    font-weight: bold;
}

.open-menu {
    position: relative;
    border-radius: 30px;
    padding: 5px 10px;
}

div.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: red;
    right: 30px;
    top: 65px;
    position: absolute;
    padding: 10px;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px #000000;
    font-size: 14px;
    list-style-type: none;
}

div.profile-dropdown.hidden {
    display: none;
}

