.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 2px solid #CCCCCC;
    Height: 70px;
    /* top | right | bottom | left */
    padding: 0px 20px 0px 20px;
    /* font-size: 24pt;
    font-weight: bold; */
  }

.right-align {
    margin-left: auto;
}

.space {
    flex-grow: 1;
}

.nav-link{
    text-decoration: none;
    color: black;
}
