.profile-dropdown {
    display: flex;
    flex-direction: column;
    right: 30px;
    top: 65px;
    position: absolute;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px #000000;
    font-size: 14px;
    list-style-type: none;
  }

  .profile-dropdown.hidden {
    display: none;
  }

.profile-dropdown li {
    margin-bottom: 8px;
  }

.profile-dropdown button {
    width: 100%;
    padding: 5px;
    background-color: darkgray;
    color: white;
    border: none;
    border-radius: 1000px;
  }

.profile-dropdown button:hover {
    background-color: #333;
}

.link-spots {
  text-decoration: none;
  color: black;
  padding: 5px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

.profile-button{
  padding: 5px;
}
