.login-form {
    display: flex;
    padding: 10px 0px;

    flex-direction: column;
    align-items: center;
    width: 250px;
}

.login-text {
    font-size: 24px;
    margin: 10px 0px 10px 0px;
}
.user {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-content: center;

}

.password {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-content: center;
}

input {
    width: 100%;
    border: solid black 1px;
    background-color: #E8F0FE;
}

.login-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0px 10px 0px;
    border: solid 1px darkgray;
    box-shadow: 2px 2px 2px;
    padding: 5px;
}

.button-style {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.demo-button {
    background: none;
    border: none;
    padding: 15px;
    text-decoration: underline;
    color: #00525E;
    cursor: pointer;
}

.demo-center {
    display: flex;
    justify-content: center;
}
